.cityweather-wrapper {
  width: 320px;
  height: 152px;
  position: absolute;
  bottom: 33px;
  right: 320px;
  background-color: rgba(247, 232, 155, 0.4);
  border: 1px solid rgba(99, 88, 30, 0.4);
}

.cityweather-search {
  text-align: left;
  padding: 10px;
}

.cityweather-search input {
  padding: 5px;
  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  background: rgba(187, 159, 159, 0.1);
}

::placeholder {
  color: #f8f8f8;
}

.cityweather-container {
  padding-left: 10px;
}
