.cityweather-wrapper {
  width: 320px;
  height: 152px;
  position: absolute;
  bottom: 33px;
  right: 320px;
  background-color: rgba(247, 232, 155, 0.4);
  border: 1px solid rgba(99, 88, 30, 0.4);
}

.cityweather-search {
  text-align: left;
  padding: 10px;
}

.cityweather-search input {
  padding: 5px;
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  background: rgba(187, 159, 159, 0.1);
  outline: none;
  vertical-align: middle;
}

.cityweather-input-button {
  margin-left: 5px;
  padding: 5px;
  width: 15px;
  height: 15px;
  vertical-align: middle;
  border-radius: 5px;
}

.enabled:hover {
  border: 1px solid rgba(255, 255, 255, 0.8);
  cursor: pointer;
  background-color: rgba(227, 218, 218, 0.8);
}

.enabled:active {
  background-color: rgba(212, 204, 204, 0.8);
}

.enabled * {
  fill: rgba(23, 23, 22, 0.8);
}

::placeholder {
  color: #f8f8f8;
}

.disabled * {
  fill: rgba(80, 80, 74, 0.8);
}

.disabled {
  border: 1px solid rgba(229, 220, 220, 0.8);
  cursor: no-drop;
  background-color: rgba(170, 163, 163, 0.8);
}

.enabled {
  border: 1px solid rgba(248, 248, 248, 0.8);
}

.cityweather-container {
  padding-left: 10px;
}
