.fuel-block {
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
}

.fuelcost-wrapper {
  position: absolute;
  bottom: 31px;
  right: 0;
  width: 320px;
  height: 167px;
  background-color: rgba(247, 232, 155, 0.4);
}

.fuelcost-header {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
  background-color: rgba(99, 88, 30, 0.4);
}
