.wrapper {
  background-color: black;
  width: 100vw;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 10px;
}

.list-navigation {
  display: flex;
  column-gap: 20px;
  list-style-type: none;
}

.loupe * {
  fill: white;
}

.loupe {
  cursor: pointer;
}

.list-navigation li {
  cursor: pointer;
}

.search-and-theme {
  display: flex;
  column-gap: 20px;
  padding-right: 40px;
  align-items: center;
}
