.modalWindow {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalContent {
  background-color: antiquewhite;
  border-radius: 2px;
  height: 50vh;
  width: auto;
  overflow-y: scroll;
}
.modalContent::-webkit-scrollbar {
  width: 3px;
}

.modalContent::-webkit-scrollbar-thumb {
  background-color: #a3915d;
}

.modal-header-wrapper {
  position: sticky;
  top: 0px;
  background-color: rgb(238, 205, 165);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalCross {
  position: absolute;
  right: 15px;
  top: 10px;
}

.modalContent ol {
  counter-reset: item;
}

.modalContent ol li {
  display: block;
  margin-bottom: 10px;
}

.modalContent ol li:before {
  content: counter(item) ". ";
  counter-increment: item;
  font-weight: bold;
}

.selected {
  background-color: burlywood;
}
